<div class="mt-5 wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h4 class="card-title mb-3">Sign up</h4>
        </div>

        <!-- Login Form -->
        <form [formGroup]="userFrom" (ngSubmit)="signup()">
            <input type="text" autocomplete="off" formControlName="userid" class="fadeIn second" name="userid" placeholder="login">
            <div *ngIf="formsubmit && f.userid.errors">
                <span style="color: red;" *ngIf="f.userid.errors.required">Userid  is requierd</span>
            </div>
            <input type="password" autocomplete="off" formControlName="password" class="fadeIn third" name="password" placeholder="password">
            <div *ngIf="formsubmit && f.password.errors">
                <span style="color: red;" *ngIf="f.password.errors.required">Password  is requierd</span>
            </div>
            <input type="submit" [disabled]="!userFrom.valid" class="fadeIn fourth" value="signup">
            <input type="button" (click)="showsingin()" class="fadeIn fourth" value="Go Signin">
        </form>

    </div>
</div>